body {
  margin: 8px;
  padding-top: 4rem;
  background-image: url("images/swirl_pattern.webp");
  display: block;
  position: relative;
}

header h1 {
  font-family: "Courgette", cursive;
  text-align: center;
  font-size: 2.4rem;
  color: #f03a47;
}

#hero {
  background-image: url("images/daniel-born-pikbdiJetk8-unsplash.jpeg");
  height: 20vh;
  width: 100%;
  background-position: center center;
  background-size: cover;
}

#intro {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 1rem;
}

#mainHeading { 
    color:red; 
}

#intro p {
  font-family: "Yantramanav", sans-serif;
}

.funParagraph {
    color:green; 
}

.place {
  font-family: "Yantramanav", sans-serif;
}

.place header {
  text-align: center;
  font-family: "Gentium Plus", serif;
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.date {
  font-weight: 100;
  font-family: "Cutive Mono", monospace;
  margin-left: 50px;
}



nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

article {
  padding: 30px;
  border-bottom: 0.5px solid #eaeaea;
}

article:nth-child(odd) {
  background-color: #183059;
  color: #f6f4f3;
}

article:nth-child(even) {
  background-color: #f6f4f3;
}

article:nth-child(even) .date {
  color: #f03a47;
}

nav a {
  text-decoration: none;
}

nav ul li {
  font-family: "Gentium Plus", serif;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  margin: 4px;
  flex: 0 0 auto;
}

.content {
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  display: flex;
  padding: 10px;
}

.place img {
  border-radius: 1%;
  width: 500px;
  display: block;
  margin: 0px 30px;
  flex-basis: 200px;
}

.caption {
  font-size: 0.8rem;
  text-align: center;
}


.content .text {
  height: 100%;
  flex: 1 0 500px;
  display: flex;
  max-width: 80%;
  flex-direction: column;
  justify-content: space-evenly;
}

.song {
  margin-top: 15px;
}

.switched {
  flex-direction: row-reverse;
}

footer {
  padding: 10px;
  font-family: "Cutive Mono", monospace;
  position: fixed;
  bottom: 0px;
  left:0px;
  width: 100%;
  background-color: rgba(213, 39, 39, 0.9);
  text-align:center;
  color:white; 
}
